<div>
  <div class="mt-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><b>Title</b></th>
          <th><b>Owner</b></th>
          <th><b>Stage</b></th>
          <th><b>Status</b></th>
          <th><b>Vacancy</b></th>
          <th><b>Active Candidates</b></th>
          <th><b>Dropped Candidates</b></th>
          <th><b>Summary</b></th>
          <th><b>Team ID</b></th>
          <th><b>Total Score</b></th>
          <th><b>Edit</b></th>
          <th><b>Delete</b></th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let job of jobList">
          <td>{{job.title}}</td>
          <td>{{job.owner}}</td>
          <td>{{job.stage}}</td>
          <td>{{job.status}}</td>
          <td>{{job.vacancy}}</td>
          <td>{{job.activeCandidates}}</td>
          <td>{{job.droppedCandidates}}</td>
          <td>{{job.summary}}</td>
          <td>{{job.teamID}}</td>
          <td>{{job.scoreCard}}</td>
          <td><button type="button" class="btn btn-primary" data-toggle="`" data-target="#exampleModal"
              (click)="onUpdateClicked(job)">Edit</button>
            </td>
          <td><button type="button" class="btn btn-danger" 
            (click)="onDeleteClicked(job.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>





  <!-- <h1>Job List</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Owner</th>
            <th>Stage</th>
            <th>Status</th>
            <th>Active Candidates</th>
            <th>Dropped Candidate</th>
            <th>Summary</th>
            <th>Team ID</th>
            <th>Total Score</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let job of jobList">
            <td>{{job.title}}</td>
            <td>{{job.owner}}</td>
            <td>{{job.stage}}</td>
            <td>{{job.status}}</td>
            <td>{{job.activeCandidates}}</td>
            <td>{{job.droppedCandidates}}</td>
            <td>{{job.summary}}</td>
            <td>{{job.teamID}}</td>
            <td>{{job.scoreCard}}</td>
            <td><button class="btn-delete"(click)="onDeleteClicked(job.id)">Delete</button></td>
            <td><button class="btn-edit"(click)="onUpdateClicked(job.id)">Update</button></td>
            <p>
                <app-job-edit *ngIf="showJobEditComponent[job.id]" [EditJobData]="job"
                (EmittedData)="saveRecievedJob($event)"></app-job-edit>
            </p>

        </tr>
    </tbody>
</table> -->


</div>